.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mainContent {
  flex: 1;
  background-color: rgb(73, 87, 105);
  margin-left: calc(35vw + 40px); /* Leaves space for the fixed header */
  padding: 20px;
  overflow-y: auto; /* Enables scrolling for the main content */
}

/* 📌 Mobile Responsive Fix */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .mainContent {
    flex: 1;
    margin-left: 0;  /* Remove left margin */
    margin-top: 0; /* Add spacing below header */
    padding: 20px;
    overflow-y: auto;
  }
}
